@media only screen and (max-width:800px) {

header img {
    width: 60%;
    height: 200px;
}

.additional-content-aside h3 {
margin-top: 1.6rem;
margin-bottom: 4.5rem;
}

.additional-content-aside-courses h3 {
    margin-top: 2.6rem;
    margin-bottom: 4.5rem;
}

.additional-content-aside-courses h3:last-child {
    margin-top: 16.3rem;
}

.additional-content-main h3 {
    margin-bottom: 3.3rem;
    margin-top: 1rem;
    color: #00f;
}

.additional-content-main-courses h3 {
    margin-bottom: 3.2rem;
    margin-top: 1rem;
    color: #00f;
}

#additional-content-aside1 h3{
    margin-top: 1.4rem;
    margin-bottom: 3.5rem;
}

#icon1, #icon2, #icon3, #icon4 {
    margin-right: 5px;
}
}

@media only screen and (max-width:660px) {
    
.additional-content-main-courses h3 {
    margin-bottom: 3.2rem;
    margin-top: 1rem;
    color: #00f;
}

.additional-content-aside-courses h3 {
    margin-top: 2.6rem;
    margin-bottom: 6rem;
}

.additional-content-aside-courses h3:first-child {
    margin-top: 2rem;
}

.additional-content-aside-courses h3:last-child {
    margin-top: 21rem;
}

#icon1, #icon2, #icon3, #icon4 {
    margin-right: 5px;
}
}

@media only screen and (max-width:400px) {

header img {
    width: 40%;
    height: auto;
    border: 2px solid #666;
    border-radius: 40%;
    position: absolute;
    top: 110px;
    right: 50px;
}

.main-aspects-button {
    background: #666;
    color:#fff;
    padding: 1rem;
    font-weight: bold;
    border-radius: 10px;
    width: 40%;
    margin-bottom: 0.5rem;
}

.additional-content-main {
    width: 60%;
    margin-top: 0.7rem;
    padding-left: 1rem;
}

#additional-content-main1 {
    text-align: left;
    padding-right: 5px;
    border-left: 1px solid black;
}

#additional-content-main1 h3 {
     margin-bottom: 4rem;
     color: #00f;
}

.additional-content-aside {
    width: 40%;
    border-right: 1px solid black;
    text-align: center;
    text-decoration: underline;
}

#additional-content-aside1 {
    width: 30%;
    text-align: center;
    border: none;
}

.additional-content-aside h3 {
    margin-bottom: 6rem;
}

#additional-content-aside1 h3:last-child {
    margin-top: 4rem;
}

.additional-content-aside-courses h3 {
    margin-bottom: 10rem;
}

.additional-content-aside-courses h3:last-child {
    margin-top: 45rem;
    margin-right: 0.5em;
}

#icon1, #icon2, #icon3, #icon4 {
    margin-right: 5px;
}
}
