* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    max-width: 90%;
}

header {
    border: 2px solid #000;
    padding: 1rem;
    margin-top: 0.5rem;
    display: flex;
    background: #fcfce8;
}

header ul {
    font-weight: bold;
}

header li {
    list-style: none;
    display: inline-block;
    background: #666;
    padding: 1rem;
    margin: 1rem 1rem 0 0;
    border-radius: 30%;
}

header li:hover {
    background: #555;
}

.header-text {
    text-align: center;
}

.header-text h1 {
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-shadow: 1px 1px #666;   
    font-family: Castellar;
}

.header-text h3 {
    margin-top: 5rem;
}

.header-text a {
    color:#fff;
}

header img {
    display: flex;
    max-width: 30%;
    height: auto;
    border: 2px solid #666;
    border-radius: 40%;
}

main {
    border: 2px solid #000;
    padding: 2rem 0.5rem;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
}

main h2 {
    text-decoration: underline;
    text-shadow: 1px 1px #666;
    margin-bottom: 1.5rem;
}

main a:hover {
    background-color: #444;
}

footer {
    border: 2px solid #000;
    margin-top: 0.5rem;
    padding: 1rem;
    display: flex;
    background: #fcfce8;
}

footer a {
    color: #555;
}

footer p:last-child {
    float: right;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.content-aside {
    padding: 1rem;
    width: 30%;
    border-right: 1px solid #000;
    text-align: center;
    
}

.content-main {
    padding: 1rem;
    width: 70%;
    color: #11f;
}

.content-aside h3, .content-main h3 {
    margin-top: 1.5rem;
}

#additional-content1, #additional-content2, #additional-content3, #additional-content4, #additional-content5 {
    border: 1px solid #788;
    width: 100%;
    display: none;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: #fcfce8;
}

.content-main li {
    margin-top: 1rem;
    margin-left: 3rem;
}

.content-main a {
    color: #5dadfd;
    text-decoration: none;
}

.content-main a:hover {
    color: #4400ff;
    background: #fcfce8;
}

.main-aspects-button {
    background: #666;
    color:#fff;
    padding: 1rem;
    font-weight: bold;
    border-radius: 10px;
    width: 30%;
    margin-bottom: 0.5rem;
}

.main-aspects-button:hover {
    background: #444;
    cursor: pointer;
}

#icon1, #icon2, #icon3 {
    margin-right: 5px;
}

@media only screen and (max-width: 400px) {
    
html {
    font-size: 12px;
}

header {
    display: flex;
}

.header-text {
    width: 50%;
}

header img {
    max-width: 50%;
}
.main-aspects-button {
    background: #666;
    color:#fff;
    padding: 1.5rem;
    font-weight: bold;
    border-radius: 10px;
    width: 50%;
    margin-bottom: 0.5rem;
}

#additional-content1, #additional-content2, #additional-content3, #additional-content4, #additional-content5 {
    border: 1px solid #788;
    width: 100%;
    display: none;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: #fcfce8;
}

.header-text a {
    color:#fff;
    margin: 1rem 1rem 0 0;
    display: flex;
    padding: 1rem;
}

header li {
    list-style: none;
    display: inline-block;
    background: #666;
    padding: 1rem;
    margin: 1rem 1rem 0 0;
    border-radius: 30%;
}
}




